<!DOCTYPE html>
        {% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Staffing Global</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">

</head>
<style>
  .footer{
  background-image: url("{% static 'Img/FondoCyh.png' %}");
  }
  .navbar{
  background-image: url("{% static 'Img/FondoCyhv.png' %}");
  }
</style>
<body>

<div class="container-fluid">

         <nav class="navbar navbar-light">

      <div class="col-6">
      <img class="logo" src="{% static 'Img/logonav.png' %}">
      </div>
        <div class="col-2">
      <h1 class="welcome">Bienvenido</h1>
      </div>

        <div class="row">


    <div id="formulario" class="col-sm-12 offset-md-1 col-md-10 ">
     <form class="form-gruop" method="post">
     {% csrf_token %}
        {%if  form.error_messages%}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Advertencia:</strong> {{form.get_invalid_login_error}}
  <button type="button" class="btn-close"  aria-label="Close"></button>
</div>

         {%endif%}

        <div  class="col-12 py-4">
            <p>USUARIO</p>
          {{form.username}}
        </div>
        <div class="col-12 py-1">
            <p>CONTRASEÑA</p>
           {{form.password}}
        </div>
      <div class="col-12 py-4">
        <button class="btn w-100">Enviar</button>
    </div>


</form>

        </div>
             </div>
         <div class="col-12 m-auto text-center footer">

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>